a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 20px;
    background: #F4F4FD;
    position: fixed;
    width: 98%;
}

.header__logo {
    
}
.header__logo-text {

}
.header__nav {
   display: flex;
    align-items: center;
    gap: 1100px; 
}

.nav__list {
   display: flex;                
    gap: 30px;                   
    list-style: none;           
    margin: 0;                   
    padding: 0;                 
}
.nav__item {
}
.nav__link {
    text-decoration: none;        
    color: black;                 
}
.header__contacts {
    display: flex;               
    gap: 20px;                   
    font-style: normal;           
}
.contacts__link {
   text-decoration: none;       
    color: black;                 

}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    text-align: center;
    background: #2E2F42;
    width: 100%;
    height: 600px;
}

.hero__title {
    font-size: 70px;
    color: #fff;
    max-width: 600px; 
    line-height: 1.2; 
}

.hero__btn {
    background-color: blue;
    color: #fff;
    border: none;
    height: 50px;
    margin-top: 30px; 
    padding: 0 20px;
    border-radius: 10px;
}




.features {
   padding: 40px;
}
.features__title {
   text-align: center;
   margin-bottom: 40px;
}
.features__list {
    display: flex;
    justify-content: space-between; 
    gap: 40px; 
    padding: 0;
    margin: 0;
}
.features__item {
    width: 25%; 
}
.features__item-title {
    font-size: 18px; 
    font-weight: 700; 
    margin-bottom: 10px; 
}
.features__item-text {
    line-height: 1.5; 
}




.team {
   background-color: #F4F4FD;
   width: auto;
   height: 750px;
   padding: 60px 0;
}
.team__title {
   text-align: center; 
   font-size: 28px;
   margin-bottom: 40px; 
}
.team__list {
   display: flex;
   justify-content: center;
   gap: 30px; 
    padding: 0;  
   margin: 0;

}
.team__item {
   background-color: #fff; 
   width: 250px;
   border-radius: 8px; 
   overflow: hidden; 
   text-align: center; 
}
.team__photo {
   width: 100%; 
   display: block;

}
.team__name {
   margin: 16px 0 6px 0;
   font-size: 18px;
   font-weight: 700;
}

.team__role {
     margin-bottom: 20px;
}


/*portfolio*/-------------------------------------------------------------


.portfolio {
}
.portfolio__title {
}
.portfolio__list {
}
.portfolio__item {
}
.portfolio__photo {
}
.portfolio__name {
}
.portfolio__category {
}




/*footer*/------------------------------------------------------

.footer {
   background: #2E2F42;
   height: 312px;
   width: auto;
   padding-left: 60px;
}
.footer__logo {
   
}

.footer__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}


.footer__logo-text {
     color: #fff;
    font-size: 28px;
    font-weight: bold;
}
.footer__text {
    color: #ccc;
    font-size: 16px;
    line-height: 1.6;
    width: 300px; 
}
